# Default ignored files
/shelf/
/workspace.xml
# debug files 
*/obj
# Rider ignored files
/modules.xml
/.idea.AmazonOnlineShoppingSystem.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

